#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
.theme-container {
  min-height: 100vh !important;
}
.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.server-list {
  padding-left: 32px !important;
}
.server-list-image {
  margin-right: 4px;
}
.userInfo {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.userInfo-avatar {
  margin-right: 4px;
}